* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.base {
  font-size: 18px;
  line-height: 1.4;

  font-family: "Segoe UI",sans-serif;
  font-weight: 600;
  background-image: linear-gradient(#e66465, #9198e5);
  color: black;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.modal-window {
  position: fixed;
  background-color: rgba(255,255,255,0.25);
  inset: 0;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}

.modal-window:target {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.modal-window > div {
  border-radius: 1rem;
}

.modal-window div:not(:last-of-type) {
  margin-bottom: 15px;
}

.button {
  background-color: white;
  padding: 1em 1.5em;
  border-radius: 0.5rem;
  text-decoration: none;
}

button {
  font: inherit;
}

*::-webkit-scrollbar {
  background-color: transparent;
  width: 12px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 99px;
  background-color: #dddddd;
  border: 4px solid #ffffff;
}

.modal-container {
  max-height: 90vh;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0 15px 30px 0 rgba(0,0,0,0.25);
}

@media screen and (max-width: 600px) {
  .modal-container {
    width: 90%;
  }
}

.modal-header {
  padding: 16px 32px;
  border-bottom: 1px solid #dddddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-title {
  display: flex;
  align-items: center;
  gap: 8px;
  line-height: 1;
  font-weight: 700;
  font-size: 1.125;
}

.modal-body {
  padding: 25px 32px 51px;
  overflow-y: auto;
}

.modal-footer {
  padding: 20px 32px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-top: 1px solid #dddddd;
  gap: 12px;
  position: relative;
}

.modal-footer::after {
  content: '';
  display: block;
  position: absolute;
  top: -51px;
  left: 24px;
  right: 24px;
  height: 50px;
  flex-shrink: 0;
  background-image: linear-gradient(to top, rgba(255,255,255,0.75), transparent);
  pointer-events: none;
}

.btn {
  padding: 12px 20px;
  border-radius: 8px;
  background-color: transparent;
  border: 0;
  font-weight: 600;
  cursor: pointer;
  transition: 0.15s ease;
}

.btn.is-ghost:hover, .button.is-ghost:focus {
  background-color: #dfdad7;
}

.button.is-primary {
  background-color: #e66465;
  color: #ffffff;
}

.button.is.primary:hover, .button.is-primary:focus {
  background-color: #db4848;
}

.icon-button {
  border: 0;
  background-color: transparent;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.15s ease;
  position: relative;
}

.icon-button:hover, .icon-button:focus {
  background-color: #dfdad7;
}

/* close button */

.bar1 {
  content: '';
  height: 3px;
  background-color: black;
  width: 25px;
  border-radius: 5px;
  transform: rotate(45deg);
  position: absolute;
}

.bar2 {
  content: '';
  height: 3px;
  background-color: black;
  width: 25px;
  border-radius: 5px;
  transform: rotate(-45deg);
  position: absolute;
}